.division {
  width: 100%;
  height: 2px;
  background-color: var(--card-background);
  margin: 5.5rem 0;
}

#projects {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem;
}

#projects .btn {
  align-self: center;
  margin: 2rem 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.9rem; /* Espacio entre las tarjetas */
}

/* Estilos para las tarjetas de proyecto */
.project-card {
  padding: 1rem;
  background-size: cover;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  overflow: hidden; /* Asegura que los elementos hijos no se salgan de la tarjeta */
}

/* Información de la tarjeta oculta inicialmente */
.project-card .project-bio, .project-card .project-info {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* Efecto hover: oscurece la tarjeta, agranda la imagen, y muestra la información */
.project-card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.project-card:hover .project-bio, .project-card:hover .project-info {
  opacity: 1;
  visibility: visible; /* Hace visible el contenido */
}

/* Posicionamiento del contenido dentro de la tarjeta */
.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.project-bio{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 160px;
  left: 10px;
}

/* Títulos y tecnologías en las tarjetas */
.project-bio h3 {
  font-size: 0.9rem;
}

.project-bio p {
  font-size: 0.83rem;
}

/* Enlaces dentro de las tarjetas */
.project-card a {
  color: #ffffff;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.project-card a:hover {
  color: var(--primary-color);
}

/* Estilos para las imágenes de fondo en las tarjetas de proyecto */
.project-card:nth-child(1) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

.project-card:nth-child(2) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

.project-card:nth-child(3) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

.project-card:nth-child(4) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

.project-card:nth-child(5) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

.project-card:nth-child(6) {
  background: url(../../assets/comingSoon.jpg) center center/cover;
}

@media (max-width: 1000px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas */
  }
}

@media (max-width: 600px) {
  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}