.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: var(--primary-color);
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    height: 80px;
    width: 100%;
  }
  
  .navbar .nav-menu {
    display: flex;
    align-items: center;
    background: var(--primary-color);
  }
  
  .navbar .nav-link {
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: var(--weight-semibold);
  }
  
  .navbar #logo img {
    display: block;
    width: 40px;
  }

  /* Dark mode toggle */
  #switch {
    display: none;
  }
  
  .toggle-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icons > img {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 30px;
  }
  
  .theme-switch .toggle-icons .moon {
    transform: rotate(10deg);
  }
  
  #switch:checked + .toggle-icons .moon {
    transform: rotate(250deg);
  }
  
  #switch:checked + .toggle-icons .sun {
    transform: rotate(100deg);
  }

  /* hamburger 
  .hamburger {
    margin-bottom: 0.1rem;
    display: none;
  }
  .bar {
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    background-color: var(--bg-secondary);
  }*/